fastapi
uvicorn
motor
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
email-validator
pydantic-settings
selenium
--no-cache-dir pycryptodome
google-auth
google-auth-oauthlib
google-auth-httplib2